<!--Navbar content-->
<nav class="navbar navbar-expand-sm navbar-dark bg-dark fixed-top">
  <div class="container-fluid">
    <a href="#" class="navbar-brand">{{title}}</a>
    <div class="collapse navbar-collapse">
      <ul class="navbar-nav ml-auto">
        <li><a href="#" class="nav-link">Home</a></li>
      </ul>
    </div>
  </div>
</nav>

<!--Body content-->
<div class="jumbotron bg-cover">
  <div class="container">
    <h1 class="display-4">Welcome to MerskiDev!</h1>
    <p class="lead">A local bar where all my drunk ideas come to life...</p>
  </div>
</div>

<!--Footer content-->
<footer class="footer bg-dark fixed-bottom">
  <div class="container text-white">
    <small>Copyright &copy; MerskiDev</small>
  </div>
</footer>